DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APPLICATION_CLIENT_ID
GUILD_ID=YOUR_PRIVATE_GUILD_ID

COMFYUI_BASE_URL=http://127.0.0.1:8188
COMFYUI_CHECKPOINT_NAME=miaomiaoHarem_anima13.safetensors
COMFYUI_MODEL_PRESETS=miaomiao=miaomiaoHarem_anima13.safetensors,reedanima=reedAnimaXXX_v11.safetensors,waianima=waiANIMA_v10Base10.safetensors

IMAGE_QUEUE_CONCURRENCY=1
IMAGE_MAX_QUEUE=5
GENERATION_TIMEOUT_MS=180000

DEFAULT_NEGATIVE_PROMPT=low quality, worst quality, blurry, bad anatomy, bad hands, extra fingers, text, watermark, logo

WD14_PYTHON=python
# WD14_PYTHON=C:\ComfyUI_windows_portable\python_embeded\python.exe
WD14_MODEL_DIR=data/wd14
WD14_MODEL_REPO=SmilingWolf/wd-swinv2-tagger-v3
WD14_GENERAL_THRESHOLD=0.35
WD14_CHARACTER_THRESHOLD=0.85
WD14_TIMEOUT_MS=120000
